* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: rgba(64, 65, 122, 255);
}

.result-component{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-mark{
    color:green;
    font-size:6em;
}

#result{
    color:green
}

.result-white-panel{
    background-color: white;
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black !important;
}

.result-white-panel > h1{
    color:#0275d8;
}

#details{
    padding:5%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
}

.buttons{
    margin-top:5%;
    display: flex;
    column-gap: 1em;
}

#play,#back{
    background-color: transparent;
    border:none;
}

#play>a,#back>a{
    border:2px solid white;
    padding:0.5em;
    font-size: 1.5em;
    text-decoration: none;
    color:white
}
